# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio for Mac
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# User-specific files
*-lock.json
*.dbmdl
*.bak

# Logs
*.log
.vs/
