@page "/Details/{id:int}"
@model RestauApp.Web.Pages.DetailsModel

<h1>Détails du Restaurant</h1>
@if (Model.Restaurant != null)
{
    <h4>@Model.Restaurant.Nom</h4>
    <p>@Model.Restaurant.Note</p>
    <img src="@Model.Restaurant.ImageUrl" alt="@Model.Restaurant.Nom" class="image-preview" />
}
else
{
    <p>Le restaurant demandé est introuvable.</p>
}
